.back{
    width:42px;
    height:42px;
    border-radius:42px;
    background:#ffffff;
    box-shadow: 0 1px 4px -2px rgb(0 0 0 / 13%), 0 2px 8px rgb(0 0 0 / 8%), 0 8px 16px 4px rgb(0 0 0 / 4%);
}
.text{
    width:22px;
    height:22px;
    border-radius:22px;
    display:inline-block;
}